.Sidenav {
    height: 100%;
    padding-left: 10px;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #040404;
    overflow-x: hidden;
    padding-top: 20px;
    color: #fff;
    margin-bottom: 90px;
    font-size: 14px;
  }
  
  .Sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 14px;
  }
  
  .Sidenav a:hover {
    color: #f1f1f1;
  }