.card-grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-auto-rows: 350px;
  justify-items: center;
  padding-top: 10px;
}

.card-title {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

.card-description {
  text-align: center;
  color: white;
}

.card-image:hover {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 10px 10px 5px 200px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 10px 10px 5px 200px rgba(0, 0, 0, 0.65);
  box-shadow: inset 10px 10px 5px 200px rgba(0, 0, 0, 0.459);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
